<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: head}">
    <meta charset="UTF-8">
    <title>ID Borrar Monstruo</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{index :: navbar}"></nav>

<div class="container mt-5">
    <form th:action="@{/borrarMonstruo}" method="get">
        <div class="mb-3">
            <label for="id" class="form-label">ID del monstruo a borrar</label>
            <input type="number" class="form-control" id="id" name="id" required>
        </div>
        <button type="submit" class="btn btn-primary">Borrar</button>
    </form>
</div>

</body>
<footer th:replace="~{index :: footer}"></footer>
<div th:replace="~{index :: jsincludes}"></div>
</html>