<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: head}">
    <meta charset="UTF-8">
    <title>Mostrar Monstruos</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{index :: navbar}"></nav>

<div class="container mt-4">
    <div class="row g-4">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" th:each="monstruo : ${listaMonstruos}">
            <div class="card" style="width: 18rem;">
                <img th:src="${monstruo.imagen}" class="card-img-top" th:alt="${monstruo.nombre}">
                <div class="card-body">
                    <h5 class="card-title">Nombre</h5>
                    <h6 th:text="${monstruo.nombre}" class="card-subtitle"></h6>
                    <h5 class="card-title">Clase</h5>
                    <h6 th:text="${monstruo.clase}" class="card-subtitle"></h6>
                    <h5 class="card-title">Elemento(s)</h5>
                    <h6 th:text="${monstruo.elementos}" class="card-subtitle"></h6>
                    <h5 class="card-title">Estado(s)</h5>
                    <h6 th:text="${monstruo.estados}" class="card-subtitle"></h6>
                    <h5 class="card-title">Debíl a</h5>
                    <h6 th:text="${monstruo.elementosdebil}" class="card-subtitle"></h6>
                    <h5 class="card-title">Hábitat(s)</h5>
                    <h6 th:text="${monstruo.habitat}" class="card-subtitle"></h6>
                    <h5 class="card-title">Pariente(s)</h5>
                    <h6 th:text="${monstruo.parientes}" class="card-subtitle"></h6>
                    <h5 class="card-title">Generación</h5>
                    <h6 th:text="${monstruo.generacion}" class="card-subtitle"></h6>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<footer th:replace="~{index :: footer}"></footer>
<div th:replace="~{index :: jsincludes}"></div>
</html>